body {
  font-family: Helvetica, serif;
  font-weight: bold;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  width: 100%
}


.maincontainer {
  background-image: url(../images/img-mission-background.jpg);
  padding-top: 70px;
  height:700px;
  width: 1200px;
  display: flex;
  justify-content: center;
}
.locationscontainer {
  background-image: url(../images/img-locations-background.jpg);
}
